:root{
    --black:#283539;
    --white:#f7f7f7;
    --blue-main:#009dbc;
    --blue-secondary:#068199;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
    overflow: hidden;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: rgb(186, 218, 228);
  }
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 100px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block ;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
  label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    color: var(--white);
    display: none;
}
#toggle{
    display: none;
}
.container{
  background-color: #acf1ff;
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}
.price{
  width: 8vw;
  color: #000000 ;
  font-size: 2vw;
  font-weight: bold;

}
.price::before{
  content: 'Precio';
  display: block;
  margin-left: 25% ;
  margin-bottom: 15px;
  font-size: 1vw;


}
.price::after{
  content: 'MXN';
  display: block;
  margin-top: 15px;
  margin-left: 25% ;
  font-size: 1vw;
}
.content{
  color: rgb(105, 103, 103)  ;
  font-size: 1vw;
  font-weight: bold;
}
.more-content{
  color: rgb(105, 103, 103) ;
  font-size: 1vw;
  font-weight: bold;
}
.getStarted{
  padding: 20px 40px 20px 40px;
  font-size: 1.1vw;
  color: #f7f7f7;
  background-color: #009dbc;
  border: 1px solid #009dbc;
  border-radius: 60px;

}
.getStarted:hover{
  cursor: pointer; 
}