:root{
    --black:#283539;
    --white:#f7f7f7;
    --blue-main:#009dbc;
    --blue-secondary:#068199;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(186, 218, 228);
    
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 100px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block ;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    color: var(--white);
    display: none;
}
#toggle{
    display: none;
}

.container{
    display: flex;
    justify-content: center;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 35vw;
}
.content .textBox h2{
    color: #333;
    font-size: 3vw;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: var(--blue-secondary);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--blue-secondary);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.5s;
}
.content .textBox a:hover{
    background: var(--blue-main);
    transform: translateY(0.5vh);

}
.content .video-container{
    /* width: 600px; */
    display: flex;
    justify-content: flex-end;
    padding-right: 50px ;
    margin-top: 50px;
}
.content .video-container video{
    max-width: 800px;

}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    padding: 2vw;
}
.thumb li:hover{
    transform: translateY(-15px);
    color: var(--blue-secondary);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue-main);
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    header{
        padding: 20px;

    }
    header .logo{
        max-width: 60px;
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(./media/menu.png) ;
        background-size: 30px;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;

    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(./media/close.png) ;
        background-size: 25px;
        background-repeat: no-repeat;
    }
    header ul.navigation.active{
        transition: 0.5s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        z-index: 10;

    }
    header ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    section{
        padding: 20px;
    }
    .content{
        flex-direction: column;
        margin-top: -100px;
    }
    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox{
        max-width: 100%;
    }
    .content .video-container video{
        max-width: 400px;
    }
    .thumb li img{
        max-width: 40px;
    }
    .circle{
        clip-path: circle(400px at center bottom);
    }

}