:root{
    --grey:#333;
    --black:#000;
    --gold:#f5e582;
    --red:#ba1616;
    --white:#f7f7f7;
    --blue:#12204d;
    --purple:#38287c;

}
html{
    box-sizing: border-box;
    background-color: var(--black);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
}
#encabezado{
    display: flex;
    position: fixed;
    background-color: transparent;
    justify-content: space-between;
    width: 100%;
}
#title{
    display: flex;
    margin-left: 5vh;
    padding-right: 5px;
}
#title a{
    text-decoration: none;
    color: var(--white);
}
#navigation-content{
    display: flex;
}
#toggle{
    display: none;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    color: var(--white);
    display: none;
}
#navigation{
    margin-left: 10vh;
    display: flex;
    align-items: center;    
}
#navigation a{
    font-family: 'Source Serif 4', sans-serif;
    font-size: 22px;
    color: var(--white);
    padding: 6px;
    margin: 7px;
    
    text-decoration: none
}
#navigation a:hover{
    border-radius: 10px;
    background-color:rgba(99, 102, 95, 0.1);
    color: var(--red);
    transition-duration: 1s;
}

#packs{
    display: flex;
    justify-content: center;
    color: var(--white);
}

/* Cards */
#cards{
    margin-top: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
/* Card ONE */

.icon{
    padding-top: 0.8vh;
    font-size: 5vw;
    color: #f7f7f7;
}

#pack-name{
    font-weight: bold;
    color: var(--red);
}
#price{
    font-size: 2vw;
    margin: 0px auto 0px auto;
    font-weight: bold;
}
.list-elements-container{
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    word-spacing: 0.2em;
}
.list-elements-container ul{
    text-decoration: none;
}
.list-elements-container ul li{
    display: flex;
    justify-content: space-between;
}
#btn-seemore{
    /* padding: 1vh 1.5vw .7vh 1.5vw; */
    margin-bottom: 1.5vh ;
    border: 1px solid var(--red);
    font-size: 2vw;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: 1s;
}
#btn-seemore:hover{
    background-color: var(--red);
}

/* Card TWO */
#happy-face{
    margin-top: 0.8vh;
    font-size: 5vw;
    color: #f7f7f7;
}
#mid-pack-name{
    padding-top: 2vh;
    font-size: 1vw;
    font-weight: bold;
    color: #03238d;
}
#mid-btn-seemore{
    /* padding: 1vh 1.5vw .7vh 1.5vw; */
    margin-top: 1vh;
    border: 1px solid #03238d;
    font-size: 2vw;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}
#mid-btn-seemore:hover{
    background-color: #03238d;
}


/* animacion de las tarjetas */
/* CARD ONE ANIMATION */
#card-one{
    text-align: center;
    width: 18vw;
    height: 50vh;
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}
#card-one:hover{
   background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);

}
#card-one::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
}
#card-one:hover::before{
    width: 120%;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
#card-one::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--black);

}
#card-one span{
    z-index: 1;
}

/* Card TWO ANIMATION */
#card-two{
    text-align: center;
    width: 18vw;
    height: 60vh;
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}
#card-two:hover{
   background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);

}
#card-two::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
}
#card-two:hover::before{
    width: 120%;
}

#card-two::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--black);

}
#card-two span{
    z-index: 1;
}


@media (max-width: 700px) {
    #encabezado{
        background-color: var(--black);
        position: inherit;
    }
    #title{
        display:block;
        align-items: center;
        margin-left: 15vw;
        color: var(--white);
    }
    label{
        display: block;
        cursor: pointer;
        /* min-height: 100vh; */
    }
    
    #navigation{
        margin-left: 0vw;
        color: var(--white);
        display: none;
        text-align: center;
        background-color: var(--black);
    }
    #navigation a{
        margin: 10vh 0 0 -100vw;
        display: block;
        color: var(--white);
        
    }
    #toggle:checked + #navigation{
        display: block;
    }
    /* Cards Mobile */
    #cards{
        display: grid;
    }
    #card-one{
        margin: 2vh 0 2vh 0;
        width: 90vw;
        height: 40vh;

    }
    .icon{
        font-size: 15vw;
    }
    #pack-name{
        font-size: 6vw;
    }
    #btn-seemore{
        font-size: 8vw;
    }
    #card-two{
        width: 90vw;
        height: 48vh;

    }
    #happy-face{
        font-size: 15vw;
    }
    #mid-pack-name{
        font-size: 6vw;
    }
    #price{
        font-size: 10vw;
    }
    #mid-btn-seemore{
        font-size: 8vw;
    }
    .list-elements-container{
        font-size: 4vw;
    }
}
